.login_contain{
    height: 100%;
    width: 100%;
}
.login_table{
    padding-top: 10%;
    // border: 1px solid red;
    width: 400px;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    h3{
        color: grey
    }
}


