.contain{
    border-radius: 5px;
    width: 95%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    
}
.aside{
    float: left;
    width: 30%;
    text-align: center;
}
.main{
    float: left;
    width: 70%;
}